.container {
    width: 100%;
    background: rgb(28, 28, 33);
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    cursor: pointer;
}

.idAndTimestamp {
    margin: 24px 24px 0;
    display: flex;
    justify-content: space-between;
}

.burgerName {
    margin: 24px 24px 0;
}

.previewsAndPrice {
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.previews {
    height: 64px;
    width: 436px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}