.main {
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 180px;
    width: 480px;
}

.header {
    text-align: center;
}

.alreadyRegistered {
    text-align: center;
}

.link {
    text-decoration: none;
}

.form {
    margin-top: 24px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tooltipContainer {
    position: relative;
}

.tooltipText {
    visibility: hidden;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 150px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipText:after {
    content: " ";
    position: absolute;
    top: 100%;
    --border-width: 5px;
    left: calc(50% - var(--border-width));
    border-width: var(--border-width);
    border-style: solid;
    border-color: gray transparent transparent transparent;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
}

