.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    overflow-y: scroll;
    padding-right: 8px;
}

.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
}

.container::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 173, 1);
}