.main {
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 320px 480px 320px;
    column-gap: 60px;
}

.containerWithOrders {
    display: grid;
    grid-template-columns: 320px 860px;
    column-gap: 60px;
}

.transparent {
    opacity: .4;
}

.navbar {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}

.buttonsBlock {
    display: flex;
    margin: 0;
    justify-content: flex-end;
}

.cancel {
    margin-right: -11px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
}

.alreadyRegistered {
    text-align: center;
}

form {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form > * {
    margin: 0 auto 24px;
}


