.container {
    width: 600px;
    height: 912px;
    display: flex;
    flex-direction: column;
}

.bun {
    margin-right: 16px;
}

.listWithBuns {
    min-height: 656px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: start;
    gap: 16px;
}

.stuffing {
    height: 464px;
    width: 585px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 16px;
}

.emptyText {
    margin: auto;
}

.stuffing::-webkit-scrollbar {
    width: 8px;
}

.stuffing::-webkit-scrollbar-track {
    background: rgba(47, 47, 55, 1);
}

.stuffing::-webkit-scrollbar-thumb {
    background: rgba(133, 133, 173, 1);
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priceAndOrder {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}